// Hue list

$primary-hue: 222;
$secondary-hue: 346;
$tertiary-hue: 106;

// Variable List

// Neutral Color

$neutral-color-100: hsl(0, 0%, 100%);
$neutral-color-99: hsl(0, 0%, 99%);

// Primary Color

$primary-color-05: hsl($primary-hue, 100%, 5%);
$primary-color-10: hsl($primary-hue, 100%, 10%);
$primary-color-20: hsl($primary-hue, 100%, 20%);
$primary-color-30: hsl($primary-hue, 100%, 30%);
$primary-color-40: hsl($primary-hue, 100%, 40%);
$primary-color-50: hsl($primary-hue, 100%, 50%);
$primary-color-60: hsl($primary-hue, 100%, 60%);
$primary-color-70: hsl($primary-hue, 100%, 70%);
$primary-color-80: hsl($primary-hue, 100%, 80%);
$primary-color-90: hsl($primary-hue, 100%, 90%);
$primary-color-95: hsl($primary-hue, 100%, 95%);

// Secondary Color

$secondary-color-05: hsl($secondary-hue, 100%, 5%);
$secondary-color-10: hsl($secondary-hue, 100%, 10%);
$secondary-color-20: hsl($secondary-hue, 100%, 20%);
$secondary-color-30: hsl($secondary-hue, 100%, 30%);
$secondary-color-40: hsl($secondary-hue, 100%, 40%);
$secondary-color-50: hsl($secondary-hue, 100%, 50%);
$secondary-color-60: hsl($secondary-hue, 100%, 60%);
$secondary-color-70: hsl($secondary-hue, 100%, 70%);
$secondary-color-80: hsl($secondary-hue, 100%, 80%);
$secondary-color-90: hsl($secondary-hue, 100%, 90%);
$secondary-color-95: hsl($secondary-hue, 100%, 95%);

// Tertiary Color

$tertiary-color-05: hsl($tertiary-hue, 100%, 5%);
$tertiary-color-10: hsl($tertiary-hue, 100%, 10%);
$tertiary-color-20: hsl($tertiary-hue, 100%, 20%);
$tertiary-color-30: hsl($tertiary-hue, 100%, 30%);
$tertiary-color-40: hsl($tertiary-hue, 100%, 40%);
$tertiary-color-50: hsl($tertiary-hue, 100%, 50%);
$tertiary-color-60: hsl($tertiary-hue, 100%, 60%);
$tertiary-color-70: hsl($tertiary-hue, 100%, 70%);
$tertiary-color-80: hsl($tertiary-hue, 100%, 80%);
$tertiary-color-90: hsl($tertiary-hue, 100%, 90%);
$tertiary-color-95: hsl($tertiary-hue, 100%, 95%);
